<mat-toolbar class="custom-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;&nbsp;
  <button mat-button (click)="goToPregunta02()">Api de RickAndMorty</button>
  &nbsp;&nbsp;
  <button mat-button (click)="goToPregunta03()">API de Comments</button>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<hr />
<router-outlet />
